body {
  font-family: RedZone, Palatino;
  font-size: 10px;
  background-image: url('images/sports-field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  background-color: red;
   text-shadow: 2px 2px #FF0000;
  color: #C0C0C0;
}

#new-star-form {
  display: flex;
  height: 18rem;
  width: 30rem;
  margin: 3rem;
  background-color: rgba(255,255,255,0.5);
}

#form-wrapper {
  margin: 1rem;
justify-content: space-around;
}

.primary {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.radio {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: left;
}

#button {
  margin-top: 2rem;
}

#delete-all {
  margin-left: 3rem;
}


.sports-heading {
  margin-top: 2rem;
  justify-content: flex-end;
  font-size: 24px;
}



#sport-stars {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* below is the styling for the cards that are produced  */
.star {
  width: 12rem;
  height: 10rem;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.9); */
  background-image: url('images/sports.jpeg');
  opacity: .8;
  transition: 0.3s;
  border-radius: 5px;
}

.name {
  font-family: Palatino;
  font-size: 20px;
  color: red;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-shadow: 1px 1px #ffffff;
}

.team {
  font-family: Palatino;
  font-size: 1.6em;
  color: red;
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  text-shadow: 1px 1px #C0C0C0;
}

.sport {
  font-family: Palatino;
  font-size: 1.6em;
  color: red;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: .5rem;
  text-shadow: 1px 1px #C0C0C0;
}
